<nav class="navbar navbar-expand-lg navbar-dark bg-parking fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger">
    <span class="d-block d-lg-none">IFSC</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/Icons/parking.png" id="trocarimg">
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" onclick="img01();" href="#parking">Parking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" onclick="img02();" href="#projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" onclick="img03();" href="#routes">Routes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" onclick="img04();" href="#developers">Developers</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="parking">
    <div class="w-100">
      <h1 class="mb-0">Parking - Iago e Tiago</h1>
      <div class="subheading mb-5">Web Service para consulta de vagas de estacionamento disponíveis e ocupadas no IFSC -
        Câmpus Lages.</div>

        <p class="lead mb-5">Vagas Disponíveis: <img src="/assets/img/Icons/available.png"> Vagas Ocupadas:  <img src="/assets/img/Icons/busy.png"></p>

      <div>
        <ul>
          <li>
            <button class="button button_available" onclick="getId(id)" id="1">1</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="2">2</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="3">3</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="4">4</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="5">5</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="6">6</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="7">7</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="8">8</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="9">9</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="10">10</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="11">11</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="12">12</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="13">13</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="14">14</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="15">15</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="16">16</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="17">17</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="18">18</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="19">19</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="20">20</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="21">21</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="22">22</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="23">23</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="24">24</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="25">25</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="26">26</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="27">27</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="28">28</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="29">29</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="30">30</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="31">31</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="32">32</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="33">33</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="34">34</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="35">35</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="36">36</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="37">37</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="38">38</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="39">39</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="40">40</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="41">41</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="42">42</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="43">43</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="44">44</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="45">45</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="46">46</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="47">47</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="48">48</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="49">49</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="50">50</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="51">51</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="52">52</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="53">53</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="54">54</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="55">55</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="56">56</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="57">57</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="58">58</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="59">59</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="60">60</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="61">61</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="62">62</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="63">63</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="64">64</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="65">65</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="66">66</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="67">67</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="68">68</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="69">69</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="70">70</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="71">71</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="72">72</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="73">73</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="74">74</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="75">75</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="76">76</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="77">77</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="78">78</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="79">79</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="80">80</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="81">81</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="82">82</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="83">83</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="84">84</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="85">85</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="86">86</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="87">87</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="88">88</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="89">89</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="90">90</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="91">91</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="92">92</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="93">93</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="94">94</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="95">95</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="96">96</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="97">97</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="98">98</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="99">99</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="100">100</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="101">101</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="102">102</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="103">103</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="104">104</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="105">105</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="106">106</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="107">107</button>
          </li>
          <li>
            <button class="button button_available" onclick="getId(id)" id="108">108</button>
          </li>
        </ul>
      </div>

    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
    <div class="w-100">
      <h1 class="mb-0">Projects - Iara e Wilson</h1>
      <div class="subheading mb-5">Descrição</div>
      <p class="lead mb-5">Resultados</p>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="routes">
    <div class="w-100">
      <h1 class="mb-0">Routes - Adriel e Osmar</h1>
      <div class="subheading mb-5">Descrição</div>
      <p class="lead mb-5">Resultados</p>
    </div>
  </section>


  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="developers">
    <div class="w-100">
      <h1 class="mb-0">Developers</h1>
      <br><br>
      <section class="testimonials text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="assets/img/Developers/adriel.jpg" alt="">
                <h5>Adriel</h5>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="assets/img/Developers/iago.jpg" alt="">
                <h5>Iago</h5>

              </div>
            </div>
            <div class="col-lg-2">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="assets/img/Developers/iara.jpg" alt="">
                <h5>Iara</h5>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="assets/img/Developers/osmar.jpg" alt="">
                <h5>Osmar</h5>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="assets/img/Developers/tiago.jpg" alt="">
                <h5>Tiago</h5>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="assets/img/Developers/wilson.jpg" alt="">
                <h5>Wilson</h5>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

</div>
<router-outlet></router-outlet>